#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

body,
html {
    height: 100%;
    margin: 0;
}

header {
    padding-top: 2rem;
}

nav,
.rigth-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 50px;
}

.rigth-links {
    margin-left: auto;
}

footer {
    margin-top: auto;
    padding: 64px 0;
}

form,
form > div {
    display: flex;
    flex-direction: column;
    place-items: center;
}

a {
    cursor: pointer;
}

.settings-icon {
    display: flex;
}

.modal {
    top: 30%;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
